body {
    background-color:rgba(255, 166, 0, 0.563);
      padding:80px 0;
    }

    #benvenuto {
 
        font-weight: 300;
          margin-top: 50px;
          margin-left: 20px;
          color: rgba(198, 49, 49, 0.929);
          font-size: 50px;
          font-family: Garamond, serif;
          text-align: center;
      }

      .container{
        background-color: #eee;
              border-radius: 30px;
              margin-left: 20%;
              margin-right: 20%;
              margin-bottom: 20%;
      }

      .riepilogo {
        display:flex;
            justify-content: space-around;
            margin-left: auto;
            margin-right: auto;
      }
      
      a{
      color: black;
      	text-decoration: none;
	    cursor: pointer;
      }
 
.btn{
	color: black;
	padding: 20px 25px;
	border: none;
	border-radius: 50px;
	background-color: orange;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 20px;
}

.btn:hover{
	padding: 20px 25px;
	border: none;
	border-radius: 50px;
	background-color: rgba(255, 174, 0, 0.878);
	text-decoration: none;
	cursor: pointer;
}

#bottone{
		display: flex;
justify-content:center;
	
}
      