
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: 300px;
	list-style: none;
	font-family: 'Montserrat', sans-serif
}

body {
	background-color:rgba(255, 166, 0, 0.563);
	line-height: 1rem;
	font-size: 14px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

a:link {
	text-decoration: none;
	color: black;
}

.menu {
	font-size: 17px;
	text-decoration: none;
	list-style: none;
	color: black;
}


.menu li {
	display: inline-block;
	padding: 0 20px;
}

.menu a:hover{
	cursor: pointer;
}

#barranav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.destra {
	margin-top: -10px;
	margin-right: 20px;
}

#reg {
	margin-right: 40px;
}

#accedi {
	padding: 9px 25px;
	border: none;
	border-radius: 50px;
	background-color: orange;
	text-decoration: none;
	cursor: pointer;
}

#accedi:hover{
	padding: 9px 25px;
	border: none;
	border-radius: 50px;
	background-color: rgba(255, 174, 0, 0.878);
	text-decoration: none;
	cursor: pointer;
}

.container{
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-color: #eee;
}

#mezzo{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#sotto {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

#contenutosotto{
	margin-left: 20px;
	margin-right: 20px;
}

nav {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-color: #eee;
}

.icon {
	background-color: orange;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	block-size: 50px;
	border-radius: 50%
}


p {
	line-height: 20px;
}


#titolo {
	font-weight: 300;
    margin-top: 40px;
    margin-left: 20px;
    color: rgba(198, 49, 49, 0.929);
    font-size: 50px;
    font-family: Garamond, serif;
}

#tcarosello{
	color: rgba(198, 49, 49, 0.929);
    font-size: 30px;
    font-family: Garamond, serif;
	margin-left: 20px;
	margin-right: 20px;
}

#myCarousel {
	margin-left: 20px;
	margin-right: 20px;
}

.grid-container{
	margin-left: 15px;
	margin-right: 20px;
	display: grid;
	gap: 10px 50px;
	grid-template-areas: 
	"uno"
	"due"
	"tre"
	"quattro"
	"cinque"
	"sei";
}

.prova:nth-child(1) {
	grid-area: uno;
}
.prova:nth-child(2) {
	grid-area: due;
}
.prova:nth-child(3) {
	grid-area: tre;
}
.prova:nth-child(4) {
	grid-area: quattro;
}
.prova:nth-child(5) {
	grid-area: cinque;
}
.prova:nth-child(6) {
	grid-area: sei;
}

.grid-container{
	grid-template-areas: 
	"uno quattro"
	"due cinque"
	"tre sei";
}

.i-list-item{
	width: fit-content;
}

.icon-content{
	margin-top: -60px;
	margin-left: 70px;
}

#titolino{
	margin-top: 50px;
	margin-bottom: 50px;
}

.prenota{
	margin-top: 25px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btnprenota{
	padding: 20px 25px;
	border: none;
	border-radius: 50px;
	background-color: orange;
	text-decoration: none;
	cursor: pointer;
}

.btnprenota:hover{
	padding: 20px 25px;
	border: none;
	border-radius: 50px;
	background-color: rgba(255, 174, 0, 0.878);
	text-decoration: none;
	cursor: pointer;
}