body {
  background-color:rgba(255, 166, 0, 0.563);
    padding:80px 0;
  }
	
#benvenuto {
 
    font-weight: 300;
      margin-top: 40px;
      margin-left: 20px;
      color: rgba(198, 49, 49, 0.929);
      font-size: 50px;
      font-family: Garamond, serif;
  }

  #prenotaora{
    font-size: 20px;
    color: rgb(240, 153, 53);
    margin: 30px;
  }

#btn, #btn-logout  {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    margin-top: 0;
    height: 30px;
    border: none;
    background-size: 200% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, rgb(220, 226, 34), rgb(255, 174, 0), rgb(200, 127, 8));
    box-shadow: 0 4px 15px 0 rgba(220, 142, 7, 0.75);
}

#btn:hover, #btn-logout:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

#out{
	   color: #fff;
	   text-decoration: none;
	cursor: pointer;
}


.container{
  background-color: rgb(255, 255, 255);
		border-radius: 30px;
		margin-left: 20%;
		margin-right: 20%;
}

.form{
  margin: 30px;
}

.form-control{
  background:#ffffff;
    border:none;
    border-bottom:1px solid #eee;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:8px;
    height:42px;
    font-family: Garamond, serif;
    font-size: 15px;
    
  }

.rivedi{
 margin-inline-start:  60px;
}

