body {
	background-color:rgba(255, 166, 0, 0.563);
	line-height: 1rem;
	font-size: 14px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#titolo {
	padding: 50px;
	font-weight: 300;
    margin-top: 40px;
    margin-left: 20px;
    color: rgba(198, 49, 49, 0.929);
    font-size: 50px;
    font-family: Garamond, serif;
}


.citta {
	font-family: Garamond, serif;
	font-size: large;
	margin-top: 50px;
	display:flex;
	justify-content: center;
	color: rgba(198, 49, 49, 0.929);
}

#MI {
margin-top: -20px;
}

.container {
	background-color: #eee;
	border-radius: 30px;	
}

#btn{
	padding: 20px 25px;
	border: none;
	border-radius: 50px;
	background-color: orange;
	text-decoration: none;
	cursor: pointer;
	margin: 30px;

}

#btn:hover{
	padding: 20px 25px;
	border: none;
	border-radius: 50px;
	background-color: rgba(255, 174, 0, 0.878);
	text-decoration: none;
	cursor: pointer;
}

.grid-container{
	display: grid;
	gap: 10px 20px;
	grid-template-areas: 
	"uno"
	"due"
	"tre"
}

frame:nth-child(1) {
	grid-area: uno;
}
frame:nth-child(2) {
	grid-area: uno;
}
frame:nth-child(3) {
	grid-area: uno;
}

@media (min-width: 1024px){
.grid-container{
	margin-left: 45px;
	background-color: #eee;
	border-radius: 30px;
	grid-template-areas: 
	"uno due tre";
}
}